/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed!important;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    /* overflow-y: auto; */
    overflow-x: visible;
    transform: translate(-300px,0);
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

#ul-sidebar{
    width: 245px;
    height: 100%;
    margin: 0px ;
    background-color: rgba(0, 0, 0, 0.89);
   
}

li{
    border-bottom: solid white 0.5px;
    padding: 20px;
}