*html{
    margin: 0;
    padding: 0;
}
body {
    font-family : 'Montserrat', sans-serif;
    font-size   : 16px;
    line-height : 26px;
    color       : #fff;
    font-weight : 400;
    background: #333;
    margin: 0;
    overflow-x: hidden;
    }
/*--------------------------------------
 * TYPOGRAPHY  
 *--------------------------------------*/
h1 {
    font-size   : 15px;
    margin: 0
    }
h2{
	margin-top: 0px; 
    font-size: 15px;
    font-weight: normal;
}
/*--------------------------------------
 * LINK STYLE 
 *-------------------------------------- */
a {
    color: #fff;
    text-decoration : none;
    }
a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }
a:hover,
a:focus {
    text-decoration : none;
    }

/*------menu--------------*/
.w3-sidebar{
    height:100%;
    width:200px;
    background-color: rgba(0, 0, 0, 0.89);
    position:fixed!important;
    z-index:1;
    overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{
    width:100%
}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{
    min-width:100%
}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{
    width:100%;
    text-align:left;
    padding:10px 16px
}
.w3-main,#main{
    transition:margin-left .4s
}
.w3-bar .w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.w3-xlarge{
    font-size:24px!important
}

.w3-bar .w3-button{
    white-space:normal;
}



.w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0}
.w3-bar-block.w3-center .w3-bar-item{
    text-align:center
}
.w3-block{
    display:block;
    width:100%
}
.w3-top,.w3-bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.w3-top{
    top:0
}
.w3-bottom{
    bottom:0
}
.w3-teal,.w3-hover-teal:hover{
    color:#fff!important;
    display: inline-block;
}
.w3-teal button {
    background-color: rgba(255,255,255, 0.001);
    border: 0;
    color: #fff;
}


/*-------end menu-----------*/

/*-------------------------------------------------------------
 * Main Wraper
 *-------------------------------------------------------------*/
  .wraper{
	margin-top: 40px;
    padding: 1%;
    color: #fff;
}

/*-------------------------------------------------------------
 * HEADER
 *-------------------------------------------------------------*/
.header{
    margin-bottom: 0px;
	margin-top: 0px; 
    margin-left: 0px;
    padding-top: 0;
}
/*-------------------------------------------------------------
 * Quote
 *-------------------------------------------------------------*/
.quote-words{
	margin-top: 0px;
	margin-left: 20px;
    margin-right: 20px;
    width: 480px;
}


/*-------------------------------------------------------------
 * Countdown
 *-------------------------------------------------------------*/
.countdown-wrapper {
    margin: 20px 0 50px;
}


#back-countdiown{
    font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 35px;
}
#back-countdiown > li {
    padding: 10px;
	border-radius: 3px;
	background: rgba(27, 27, 27, 0.35);
	display: inline-block;

}

@media screen and (max-width:600px){
    #back-countdiown > li{
       width: 40%;
       margin-bottom: 20px;
    }
}

#back-countdiown li:last-child {
  margin-right: 0
}

#back-countdiown li > span {
    padding: 15px;
	border-radius: 3px;
	background: rgba(73, 72, 72, 0.25);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

/*#back-countdiown li p{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,.7);
}*/

#back-countdiown li span:hover {
   cursor: pointer;
}



/*-------------------------------------------------------------
 * Subscribe 
 *-------------------------------------------------------------*/
.subscribe {
    margin: 50px 0 50px;
    text-align: center;
    display: block;
}



.subscribe-form{
    width: 40%;
    position: relative;
}



@media screen and (max-width:768px){
    .subscribe-form{
       width: 100%;
    }
}

.subscribe-form input[type="email"]{
    border: 2px solid rgba(255,255,255,.5);
    height: 50px;
    line-height: 50px;
    width: 100%;
    background:transparent;
    border-radius:3px;
    padding: 0 130px 0 20px;
    font-size:18px;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
}

.subscribe-form input:focus{
    outline:none;
}


.subscribe-form input[type="submit"] {
    cursor: pointer;
    background: #F36B6B;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top:5px;
    border-radius:2px;
    box-sizing: border-box;
    padding: 0 20px;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}



.subscribe-form input[type="submit"]:hover{
    background: #CA5151;
}



.subscribe-form::-webkit-input-placeholder {
    color:   #fff;
}
/*------------------
 * Video Background
*------------------*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}



.fullscreen-bg::before{
   position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.35);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}



@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}



@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}



@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/background4.jpg') center center / cover no-repeat;
  }


  .fullscreen-bg__video {
    display: none;
  }
}

/*-----------------------
 * Footer
*-----------------------*/
.footer{
    position: relative;
    display: block;
    bottom: auto;
    left: auto;
}


/*social-links*/
.social-links ul{
    margin: 0;
    padding: 0;
}



.social-links li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.social-links li a{
    display: block;
    font-size: 18px;
    color: rgba(255,255,255,.3);
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.social-links li a:hover {
    color: #fff;
}
/*copyright*/

.copyright{
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255,255,255,.3);
    padding: 0;
    line-height: 1;
}


.copyright a{
    color: rgba(255,255,255, 0.3);
    text-decoration    : none;
    border-bottom: 1px dotted rgba(255,255,255, 0.3);
}

.copyright li{
    display: inline-block;
    margin-right: 10px;
}
.copyright li:last-child{
    border-left: 1px solid rgba(255,255,255,.2);
    padding-left: 12px;
}